[submodule "third_party/onnxruntime"]
	path = third_party/onnxruntime
	url = https://github.com/microsoft/onnxruntime.git
	shallow = true
[submodule "third_party/onnxruntime-extensions"]
	path = third_party/onnxruntime-extensions
	url = https://github.com/microsoft/onnxruntime-extensions.git
	shallow = true
[submodule "third_party/onnxruntime-genai"]
	path = third_party/onnxruntime-genai
	url = https://github.com/microsoft/onnxruntime-genai.git
	branch = main
